@import '~bootstrap';

form {
  border: 1px solid #bdbdc0;
  padding: 10px 25px;
}

.form-row {
  align-items: flex-end;
}

#table {
  transform-origin: top;
  transition: height 0.5s;
  &.show {
    height: 197px;
    @media (max-width: 767px) {
      height: 290px
    }
  }
  &.hide {
    height: 0px;
  }
  overflow-y: hidden;
  display: block;
}
#spoilerOn {
  cursor: pointer;
  &:after {
    content: '▼';
    transition: transform 0.3s;
    display: inline-block;
  }
  &.show {
    &:after {
      transform: rotate(0deg);
    }
  }
  &.hide {
    &:after {
      transform: rotate(90deg);
    }
  }
}